<h1>List of all Movies</h1>

<table border="1">
<% @list_of_movies.each do |a_movie| %>
  <tr>
  <td>
  <%= a_movie.id %>
  </td>
  <td>
    <img src="http://robohash.org/<%= a_movie.title %>">
  </td>
  <td>
  <%= a_movie.title %>
  </td>
  <td>

  <% m = Movie.where({ :title => a_movie.title}).at(0) %>

  <% d_id = m.director_id %>

  <% d = Director.where({ :id => d_id}).at(0) %>


  <%= d.name %>

 </td>
  <td>
    <a href="/movies/<%= a_movie.id %>">
      Show details
    </a>
  </td>
  </tr>


<% end %>
